WALLET_CADDY_PROTOCOL=http://
WALLET_CADDY_FRONTEND_FQDN=wallet.localhost
WALLET_CADDY_BACKEND_FQDN=backend.localhost
WALLET_CADDY_ISSUER_FQDN=issuer.localhost
WALLET_CADDY_VERIFIER_FQDN=verifier.localhost
