###
# CADDY
WALLET_CADDY_FQDN=wallet.localhost
WALLET_CADDY_FRONTEND_FQDN=wallet.localhost
WALLET_CADDY_BACKEND_FQDN=wallet.localhost
WALLET_CADDY_ISSUER_FQDN=issuer.wallet.localhost
WALLET_CADDY_VERIFIER_FQDN=verifier.wallet.localhost
###

###
# WWWALLET GLOBAL
WALLET_TAG=v0.2.9
WALLET_FRONTEND_TAG=${WALLET_TAG}
WALLET_BACKEND_TAG=${WALLET_TAG}
WALLET_ISSUER_TAG=${WALLET_TAG}
WALLET_VERIFIER_TAG=${WALLET_TAG}
###

###
# WWWALLET FRONTEND
WALLET_FRONTEND_URL=https://wallet.localhost
# WALLET_FRONTEND_BUILD_CONTEXT=/root/wallet-docker-context/wallet-frontend
# WALLET_FRONTEND_BUILD_DOCKERFILE=Dockerfile
###

###
# WWWALLET BACKEND
WALLET_BACKEND_URL=https://wallet.localhost/backend
WALLET_BACKEND_DATABASE=wallet
WALLET_BACKEND_USER=wallet
WALLET_BACKEND_PASSWORD=wallet
# WALLET_BACKEND_BUILD_CONTEXT=/root/wallet-docker-context/wallet-backend-server
# WALLET_BACKEND_BUILD_DOCKERFILE=Dockerfile
###

###
# WWWALLET VERIFIER
WALLET_VERIFIER_URL=https://verifier.wallet.localhost
WALLET_VERIFIER_DATABASE=verifier
WALLET_VERIFIER_USER=wallet
WALLET_VERIFIER_PASSWORD=wallet
# WALLET_VERIFIER_BUILD_CONTEXT=/root/wallet-docker-context
# WALLET_VERIFIER_BUILD_DOCKERFILE=docker/wallet-enterprise-verifier.Dockerfile
###

###
# WWWALLET ISSUER
WALLET_ISSUER_URL=https://issuer.wallet.localhost
WALLET_ISSUER_DATABASE=issuer
WALLET_ISSUER_USER=wallet
WALLET_ISSUER_PASSWORD=wallet
# WALLET_ISSUER_BUILD_CONTEXT=/root/wallet-docker-context
# WALLET_ISSUER_BUILD_DOCKERFILE=docker/wallet-enterprise-issuer.Dockerfile
###
