###
# CADDY
CADDY_WALLET_FQDN=localhost
# CADDY_WALLET_FRONTEND_FQDN=frontend.localhost
# CADDY_WALLET_BACKEND_FQDN=backend.localhost
# CADDY_WALLET_ISSUER_FQDN=issuer.localhost
# CADDY_WALLET_VERIFIER_FQDN=verifier.localhost
###

###
# WWWALLET GLOBAL
WWALLET_TAG=v0.2.9
WWALLET_FRONTEND_TAG=${WWALLET_TAG}
WWALLET_BACKEND_TAG=${WWALLET_TAG}
WWALLET_ISSUER_TAG=${WWALLET_TAG}
WWALLET_VERIFIER_TAG=${WWALLET_TAG}
###

###
# WWWALLET FRONTEND
###

###
# WWWALLET BACKEND
###

###
# WWWALLET ISSUER
###

###
# WWWALLET VERIFIER
###

