###
# CADDY
WALLET_CADDY_PROTOCOL=http
WALLET_CADDY_FRONTEND_FQDN=wallet.localhost
WALLET_CADDY_BACKEND_FQDN=backend.localhost
WALLET_CADDY_ISSUER_FQDN=issuer.localhost
WALLET_CADDY_VERIFIER_FQDN=verifier.localhost
###

###
# WWWALLET GLOBAL
#WALLET_TAG=v0.4.0
#WALLET_FRONTEND_TAG=${WALLET_TAG}
#WALLET_BACKEND_TAG=${WALLET_TAG}
#WALLET_ISSUER_TAG=${WALLET_TAG}
#WALLET_VERIFIER_TAG=${WALLET_TAG}
###

###
# WWWALLET FRONTEND
WALLET_FRONTEND_URL=${WALLET_CADDY_PROTOCOL}${WALLET_CADDY_FRONTEND_FQDN}
# WALLET_FRONTEND_BUILD_CONTEXT=/root/wallet-docker-context/wallet-frontend
# WALLET_FRONTEND_BUILD_DOCKERFILE=Dockerfile
###

###
# WWWALLET BACKEND
WALLET_BACKEND_URL=${WALLET_CADDY_PROTOCOL}://${WALLET_CADDY_BACKEND_FQDN}
WALLET_BACKEND_DATABASE=wallet
WALLET_BACKEND_USER=wallet
WALLET_BACKEND_PASSWORD=wallet
# WALLET_BACKEND_BUILD_CONTEXT=/root/wallet-docker-context/wallet-backend-server
# WALLET_BACKEND_BUILD_DOCKERFILE=Dockerfile
WALLET_BACKEND_TRUSTED_ROOT=MIICMzCCAdqgAwIBAgIUdgESbTG9nxSXVImFdFHHAHGJ9RwwCgYIKoZIzj0EAwIwIDERMA8GA1UEAwwId3dXYWxsZXQxCzAJBgNVBAYTAkdSMB4XDTI1MDMwNjE1MzczM1oXDTM1MDMwNDE1MzczM1owIDERMA8GA1UEAwwId3dXYWxsZXQxCzAJBgNVBAYTAkdSMFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAE0Fm2MNVdwcARMDwXVaNJwcy1G182BhnFhv7pDmqs4EFGlPvkG9oA02gBKeddJd7wcngcIH1cbpS64iG4r9d5R6OB8TCB7jASBgNVHRMBAf8ECDAGAQH/AgEAMA4GA1UdDwEB/wQEAwIBBjAdBgNVHQ4EFgQUfHj4bzyvo4unHysGt+pNa0XsBaIwHwYDVR0jBBgwFoAUfHj4bzyvo4unHysGt+pNa0XsBaIwOgYDVR0fBDMwMTAvoC2gK4YpaHR0cDovL3VzZXJzLnVvYS5nci9+cHN0YW1hdG9wL2NhLWNybC5wZW0wIAYDVR0RBBkwF4YVaHR0cDovL3d3dy53YWxsZXQub3JnMCoGA1UdEgQjMCGGFWh0dHA6Ly93d3cud2FsbGV0LmNvbYIId3dXYWxsZXQwCgYIKoZIzj0EAwIDRwAwRAIgGMfgLwOXvEk0sD3nEtCuwkZRzX9vyYZ/hfg6VPrJszACIHBsYf7toXfUFjr6y1nAJ/oXP9l/fWBDydcQIq+Vnfem
###

###
# WWWALLET VERIFIER
WALLET_VERIFIER_URL=${WALLET_CADDY_PROTOCOL}://${WALLET_CADDY_VERIFIER_FQDN}
WALLET_VERIFIER_DATABASE=verifier
WALLET_VERIFIER_USER=wallet
WALLET_VERIFIER_PASSWORD=wallet
# WALLET_VERIFIER_BUILD_CONTEXT=/root/wallet-docker-context
# WALLET_VERIFIER_BUILD_DOCKERFILE=docker/wallet-enterprise-verifier.Dockerfile
###

###
# WWWALLET ISSUER
WALLET_ISSUER_URL=${WALLET_CADDY_PROTOCOL}://${WALLET_CADDY_ISSUER_FQDN}
WALLET_ISSUER_DATABASE=issuer
WALLET_ISSUER_USER=wallet
WALLET_ISSUER_PASSWORD=wallet
# WALLET_ISSUER_BUILD_CONTEXT=/root/wallet-docker-context
# WALLET_ISSUER_BUILD_DOCKERFILE=docker/wallet-enterprise-issuer.Dockerfile
###
