import sites/* 
#{
#        debug
#}

{$WALLET_CADDY_FRONTEND_FQDN} {
    #log stdout
    handle_path /backend/* {
        reverse_proxy wallet-backend:8002
    }
    reverse_proxy wallet-frontend:80 # port 3000 while in dev?
    encode
}

### 
# If you're using these, make sure to double check the URLs in the configs,
# Default behavior is that backend is at a subpath of the frontend

{$WALLET_CADDY_BACKEND_FQDN} { 
        reverse_proxy wallet-backend:8002
        encode
}
###

{$WALLET_CADDY_ISSUER_FQDN} { 
        reverse_proxy wallet-issuer:8003
        encode
}

{$WALLET_CADDY_VERIFIER_FQDN} { 
        reverse_proxy wallet-verifier:8005
        encode
}